jd.courtoy.io {
    proxy / blog:2368 {
        proxy_header Host {host}
        proxy_header X-Real-IP {remote}
        proxy_header X-Forwarded-Proto {scheme}
    }
    expvar /stats
    tls jd@courtoy.io
}
